<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lettermint_email>
            <general>
                <enabled>0</enabled>
            </general>
            <routes>
                <transactional_route>outgoing</transactional_route>
                <newsletter_route>broadcast</newsletter_route>
            </routes>
        </lettermint_email>
    </default>
</config>
