<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="lettermint" translate="label" sortOrder="1000">
            <label>Lettermint</label>
        </tab>
        <section id="lettermint_email" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>lettermint</tab>
            <resource>Lettermint_Email::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Lettermint Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_token" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="routes" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Route Configuration</label>
                <field id="transactional_route" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transactional Email Route</label>
                    <comment>Route ID for transactional emails (default: 'outgoing')</comment>
                    <depends>
                        <field id="lettermint_email/general/enabled">1</field>
                    </depends>
                </field>
                <field id="newsletter_route" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter/Marketing Route</label>
                    <comment>Route ID for newsletter and marketing emails (default: 'broadcast')</comment>
                    <depends>
                        <field id="lettermint_email/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
